/*
 * Sidebar
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "";
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: relative;
  top: -20px;
  /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.convocatoria {
  -webkit-mask: url("../../images/icons/list-check.svg") no-repeat center;
}

.convocatoria-menu {
  -webkit-mask: url("../../images/icons/list-check_menu.svg") no-repeat center;
}

.sol-eval {
  -webkit-mask: url("../../images/icons/solid-file-import.svg") no-repeat center;
}

.sol-eval-menu {
  -webkit-mask: url("../../images/icons/solid-file-import_menu.svg") no-repeat
    center;
}

.logout-dgeu {
  -webkit-mask: url("../../images/icons/regularlog-out.svg") no-repeat center;
}

.rep-inst {
  -webkit-mask: url("../../images/icons/file-earmark-medical.svg") no-repeat
    center;
}

.rep-inst-menu {
  -webkit-mask: url("../../images/icons/file-earmark-medical_menu.svg")
    no-repeat center;
}

.vid-entrev {
  -webkit-mask: url("../../images/icons/camera-video.svg") no-repeat center;
}

.vid-entrev-menu {
  -webkit-mask: url("../../images/icons/camera-video_menu.svg") no-repeat center;
}

.acreditacion {
  -webkit-mask: url("../../images/icons/trophy-fill.svg") no-repeat center;
}

.acreditacion-menu {
  -webkit-mask: url("../../images/icons/trophy-fill_menu.svg") no-repeat center;
}

li.sidebar-item:hover {
  background: #eaaa00;
}

.sidebar-item:hover {
  background: #eaaa00;
}

.icon-logout {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #53565a;
  mask: none;
}

.icon-logout:hover {
  fill: #eaaa00;
}

.icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: white;
  mask: none;
}

.icon-text {
  vertical-align: middle;
}

.icon-menu {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: white;
  mask: none;
}

.sidebar-hoverable {
  width: 64px;
  transition: all 0.2s;
  white-space: nowrap;
}

.sidebar-hoverable:hover,
.sidebar-hoverable:focus {
  width: 250px;
}

.elem-name {
  display: inline-block;
  position: relative;
  inline-size: 150px;
  overflow-wrap: break-word;
  font-size: 18px;
  bottom: 25px;
  color: #fff;
  white-space: normal;
}

.card-dashboard {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.col-dashb {
  padding-top: 5%;
}

.card-name {
  overflow-wrap: break-word;
}

.card-body:hover {
  background-color: #eaaa00;
}

.col-file {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(226, 225, 226, 0.384);
  border-right-style: inset;
}

.badge-success {
  background-color: rgb(41, 168, 62);
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.badge-danger {
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.badge-warning {
  background-color: rgb(255, 166, 0);
  color: black;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

.title-row {
  width: max-content;
  position: relative;
  padding-bottom: 12%;
}

.row-buttons {
  display: flex;
  padding-top: 8%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.btn-dgeu-submit {
  border: 4px solid black;
  background: transparent;
  border-color: #790c2a;
  font-size: 20px;
  color: black;
  white-space: normal;
}

.btn-dgeu-submit:hover {
  border-color: #790c2a;
  background-color: #790c2a;
}

.btn-dgeu-submit:disabled {
  border: 1px solid #fff;
  background-color: #cccccc;
  color: #666666;
}
.btn-dgeu-submit:disabled:hover {
  border: 1px solid #fff;
  background-color: #cccccc;
  color: #666666;
}

.custommodal {
  transition: all 0.3s;
}

.btn-dgeu-cancel {
  border: 4px solid black;
  background: transparent;
  border-color: #53565a;
  font-size: 20px;
  color: black;
  white-space: normal;
}

.btn-dgeu-cancel:hover {
  border-color: #53565a;
  background-color: #53565a;
  color: white;
}
